/* src/index.css */
:root {
  --color-scheme: light;

  --text-color: #333;
  --text-main: #0f0f0f;
  --text-header: #1c1c1c;
 
  --bg: #fff;
  --border: #e5e4e7;

  --primary-color: #2196f3;
  --primary-hover: #1687e0;

  --shadow: rgba(0, 0, 0, 0.08);
  --shadow-hover: rgba(0, 0, 0, 0.13);
  
}

[data-theme='dark'] {
  --color-scheme: dark;
  
  --bg: #1e2430;
  --bg-card: #2c2c2e;
 
  --text-color: #ffffff;
  --text-main: #f0f0f0;
  --text-header: #ffffff;
 
  --primary-color: #60a5fa;
  --primary-hover: #3b82f6;

 
  --border: #3b4458;
  --button-card-border: #2c323c;
 
  --shadow: rgba(0, 0, 0, 0.3);
  --shadow-hover: rgba(0, 0, 0, 0.5);
}


@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {

    --background-color: #1a1a1a;
    --bg: #1a1a1a;
    --bg-layout: rgba(30, 30, 40, 0.8);
    --bg-card: #2c2c2e;

    --text-color: #ffffff;
    --text-main: #f0f0f0;
    --text-header: #ffffff;
 
    --primary-color: #3b82f6;
 
    --btn-bg: #374155;
    --btn-bg-hover: #4b556a;
    --btn-text: #f3f4f6;
 
    --border: #3b4458;
    --button-card-border: #2c323c;

    --shadow: rgba(0, 0, 0, 0.3);
    --shadow-hover: rgba(0, 0, 0, 0.5);
  }
}
 

body {
  background-color: var(--bg);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */
}