DATABASE_URL=""

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

AES_SECRET_KEY=""
JWT_SECRET_KEY=""


# 이메일 발송용 (Resend API)
RESEND_API_KEY=""
# 도메인 인증 전이라면 'onboarding@resend.dev' 사용, 인증 후엔 인증된 도메인 메일 사용
SMTP_FROM_EMAIL=""

# 브라우저 푸시용 (VAPID 키 생성 필요)
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_CLAIMS_EMAIL=""