DATABASE_URL=""

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

AES_SECRET_KEY=""
JWT_SECRET_KEY=""


# 이메일 발송용 (Gmail 등)
SMTP_SERVER=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_FROM_EMAIL=""

# 브라우저 푸시용 (VAPID 키 생성 필요)
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_CLAIMS_EMAIL=""